.persons-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container-image {
  opacity: 0.5;
}
.card-container-image:hover {
  opacity: 1;
}
.card-container {
  position: relative;
  padding-right: 3%;
  padding-bottom: 3%;
}
.card-container-image {
  width: 350px;
  height: 370px;
}

.card-container-text {
  align-items: flex-start;
}
.card-container-main-title {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
}
.card-container-side-title {
  position: absolute;
  top: 70%;
  left: 10%;
  color: white;
}
