.facebook-logo {
  background-color: #3b5998;
  border-radius: 10px;
}
.twitter-logo {
  border-radius: 15px;
  background-color: #55acee;
}
.google-plus-logo {
  border-radius: 10px;
  background-color: #dd4b39;
}
.linked-in-logo {
  border-radius: 10px;
  background-color: #0082ca;
}
.dribble-logo {
  background-color: #ed5589;
  border-radius: 10px;
}
